.App {
  text-align: center;
  height: 94.75vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  height: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.api-client_data, .code, .component-properties__item__header, .component-properties__item__meta, .json-data_json textarea, .unit, code, pre, svg text {
  font-weight: bold;
  /* font-size: 0.8em !important; */
  /* transform: translate(5em, 2em); */
}

div>div>p {
  margin: 0
}

.btn {
  font-weight: 700;
  font-size: 0.75rem;
}

.btn-secondary:focus {
  box-shadow: none !important;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}
